{% extends "layout.html" %}

{% block body %}
        This is the index page.
        <form action="/message" method="post">
        <input autocomplete="off" autofocus name="message" type="text" placeholder="Enter message here.">
        <button type="submit" >Send</button> 
        </form>

        <form action="/login" method="post">
                <input autocomplete="off" autofocus name="login useless" type="text" placeholder="uhh login here uselessly"
                <button type="submit">Go Login</button>
        </form>
{% endblock %}